@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html
	font-size: 62.5%
	width: 100%
	height: 100%

body
	margin: 0
	padding: 0
	height: 100%
	font-size: 1.4rem

h1
	font-size: 2.4rem

.container
	&__item
		margin: o auto 0
	&__bg
		position: absolute
		width: 100%
		height: 100%
		background: rgba($white, .3)

.landing-page-container
	width: 100%
	min-height: 100%
	height: 100vh
	background-image: url(../img/)
	background-position: bottom
	background-repeat: no-repeat
	background-size: cover
	overflow: hidden
	display: table
	font-family: $default-font
	color: $turquoise

.content-wrapper
	max-width: 1200px
	width: 90%
	height: 100%
	margin: 0 auto
	position: relative

.header
	width: 100%
	height: 2rem
	padding: 3rem 0
	display: block

.menu-icon
	width: 2.5rem
	height: 1.5rem
	display: inline-block
	cursor: pointer

.header
	&__item
		display: inline-block
		float: left

.menu-icon
	&__line
		width: 1.5rem
		height: 0.2rem
		background: $dark-green
		display: block
		&:before, &:after
			content: ""
			@extend .menu-icon__line
			display: inline-block
			position: relative
		&:before
			left: 0.5rem
			top: -0.6rem
		&:after
			top: -1.8rem

.heading
	width: 90%
	font-size: 2rem
	font-weight: bold
	line-height: 1.7rem
	margin: 0 30px
	text-align: center

.social-container
	width: 7.25rem
	list-style: none
	overflow: hidden
	padding: 0
	margin: 0
	float: right
	.social
		&__icon
			width: 1.5rem
			float: left
			cursor: pointer
			font-size: 2rem
			&:nth-child(2)
				margin-left: 1.2rem
				margin-right: 1.2rem

.coorde
	font-size: 1rem
	display: inline-block
	float: left
	position: relative
	top: 40%
	letter-spacing: 0.2rem
	left: -11.5rem
	margin: 0
	transform: rotate(-90deg) translateY(50%)
	color: $white

.ellipse-container
	width: 50rem
	height: 50rem
	border-radius: 50%
	margin: 0 auto
	position: relative
	top: 7rem
	.greeting
		position: relative
		top: 16rem
		left: 0rem
		right: 0
		margin: 0 auto
		text-transform: uppercase
		letter-spacing: 4rem
		font-size: 8rem
		font-weight: 700
		opacity: .6
		width: 40rem
		&:after
			content: ""
			width: 0.3rem
			height: 0.3rem
			border-radius: 50%
			display: inline-block
			background-color: $dark-green
			position: relative
			top: -0.65rem
			left: -5.05rem
		path
			stroke: #fff
			fill: #fff
			stroke-dasharray: 1800
			opacity: 10
			animation: sedoyLogo 10s cubic-bezier(0,0.23,1,.1) infinite
		.st0
			fill: rgba(9, 56, 62, 1)
			stroke: rgba(9, 56, 62, 1)
			stroke-width: 3
			stroke-miterlimit: 10

.ellipse
	border-radius: 50%
	position: absolute
	top: 0
	border-style: solid
	&__outer--thin
		width: 100%
		height: 100%
		border-width: 1px
		border-color: rgba(9,56,62,.1)
		animation: allispeOrbit 15s ease-in-out infinite
	&__outer--thick
		width: 100%
		height: 100%
		border-color: $dark-green transparent
		border-width: 2px
		transform: rotate(-45deg)
		animation: allipseRotate 15s ease-in-out infinite
	&__orbit
		width: 2.5rem
		height: 2.5rem
		border-width: 2px
		border-color: $dark-green
		top: 5.2rem
		right: 6.75rem
		&:before
			content: ""
			width: 0.7rem
			height: 0.7rem
			border-radius: 50%
			display: inline-block
			background-color: $dark-green
			margin: 0 auto
			left: 0
			right: 0
			position: absolute
			top: 50%
			transform: translateY(-50%)

@keyframes allipseRotate
	0%
		transform: rotate(-45deg)
	100%
		transform: rotate(-405deg)

@keyframes allispeOrbit
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

@keyframes sedoyLogo
	0%
			opacity: 5
			fill: rgba(9,56,62, 0.25)
			stroke-dashoffset: 1800
	25%
			opacity: 9
			fill: rgba(9,56,62, 0.25)
			stroke-dashoffset: 0
	26%
			fill: rgba(9,56,62, 0.25)
			stroke-dashoffset: 1300
	40%
			opacity: 9
			fill: rgba(9,56,62, 25)
			stroke-dashoffset: 1800
	50%
		opacity: 9.5
		fill: rgba(9,56,62, 25)
		stroke-dashoffset: 1800
	60%
		opacity: 9
		fill: rgba(9,56,62, 25)
		stroke-dashoffset: 1800
	74%
		fill: rgba(9,56,62, 0.25)
		stroke-dashoffset: 1300
	75%
		opacity: 9
		fill: rgba(9,56,62, 0.25)
		stroke-dashoffset: 0
	100%
		opacity: 5
		fill: rgba(9,56,62, 0.25)
		stroke-dashoffset: 1800


@import "media" // Всегда в конце
